<!-- header -->
<header>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
    <li routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }"><a routerLink="/users">Users</a></li>
    <li routerLinkActive="active" style="float: right;"><a routerLink="/login">Logout</a></li>
  </ul>
</header>

<main>
  <alert></alert>
  <router-outlet></router-outlet>
</main>

<!-- footer -->
<footer>
  <p>
    <a href="http://jasonwatmore.com/post/2017/04/19/angular-2-4-router-animation-tutorial-example" target="_top">Angular 2/4 - Router Animation Tutorial & Example</a>
  </p>
  <p>
    <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</footer>
