/* GENERAL STYLES AND CLASSES
--------------------------------------------------------------------- */
body {
  padding: 5px;

  ng-component {
    display: block;
  }
}

/* HEADER STYLES
--------------------------------------------------------------------- */
header {
}

/* MAIN STYLES
--------------------------------------------------------------------- */
main {
  padding: 0 20px;
  min-height: 300px;

  .products-table {
    margin-top: 20px;

    .delete-column {
      width: 60px;
    }
  }

  /* side form */
  .view-side-form {
    .side-form {
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      overflow: auto;
      background: #fff;
      padding: 20px;
      border-left: 1px solid #e0e0e0;
    }
  }
}

/* FOOTER STYLES
--------------------------------------------------------------------- */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ddd;
}
