<div class="side-form">
  <h1>{{title}}</h1>
  <div class="form-container">
    <form (ngSubmit)="saveUser()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="user.firstname" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="name">Last name</label>
        <input type="text" name="lastname" [(ngModel)]="user.lastname" class="form-control" required />
      </div>
      <div class="form-group">
        <a class="btn btn-default" routerLink="/users">Cancel</a>
        <button class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
