<h1>users</h1>
<a routerLink="add" class="btn btn-default">Add User</a>
<table class="table products-table">
  <tr>
    <th>Name</th>
    <th>Last Name</th>
    <th>User Name</th>
    <th>Email</th>
    <th class="delete-column">Actions</th>
  </tr>
  <tr *ngFor="let user of users">
    <td><a [routerLink]="['edit', user._id]">{{user.firstname}}</a></td>
    <td>{{user.lastname}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td><a (click)="deleteUser(user._id)" class="btn btn-xs btn-danger">Delete</a></td>
  </tr>
</table>
<div class="view-side-form">
  <router-outlet></router-outlet>
</div>
